:root {
  --primary-color: #0f172a;       
  --secondary-color: #111827;    
  --tertiary-color: #1f2937;       

  --text-color: #e5e7eb;          
  --text-muted: #9ca3af;          

  --accent-color: #22d3ee;         
  --accent-purple: #8b5cf6;       
  --accent-pink: #ec4899;          
}
